// Initialize custom colors.
$white: #ffffff;
$black: #000000;
$gray: #6c757d;
$red: #f34971;
$orange: #fd7e14;
$teal: #20c997;
$blue: #2997ff;
$purple: #6f42c1;

$background: $white;
$foreground: $black;
$primary: $blue;
$secondary: $gray;
$success: $teal;
$danger: $red;

// Override Bootstrap's colors with custom colors.
$body-bg: $background;
$body-color: $foreground;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger
);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    object-fit: cover;
}

.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: $primary;
}

.overlay-container:hover .overlay {
    opacity: 0.9;
}

.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.minimum-height-large {
    min-height: 80vh;
}

.minimum-height-medium {
    min-height: 40vh;
}

.minimum-height-small {
    min-height: 20vh;
}

// Import Bootstrap. This must always be at the bottom of the file.
@import '~bootstrap/scss/bootstrap.scss';

:export {
    white: $white;
    black: $black;
    gray: $gray;
    red: $red;
    orange: $orange;
    teal: $teal;
    blue: $blue;
    purple: $purple;
    background: $background;
    foreground: $foreground;
    primary: $primary;
    secondary: $secondary;
    success: $success;
    danger: $danger;
}